.yozuv p {
  text-align: center;
}
.forma {
  background-color: #e5e5e5;
  width: 382px;
  margin: auto;
}

.sarlavha {
  text-align: center;
}
.IT {
  width: 382px;
  background-color: #e5e5e5;
}
.index {
  text-align: center;
}
.html {
  text-align: center;
  margin-bottom: 1px;
  color: #a4acad;
}
.css {
  background-color: #111111;
  color: #f2f2f2;
  border-radius: 5px;
  border-top: 20px;

  width: 347px;
  padding-bottom: 10px;
  padding-top: 15px;
}
.IT {
  width: 40px;
  text-align: center;
}
.yozuv1 p {
  margin: 0 10px 0 180px;

  text-align: center;
}
.nomertelefon {
  background-color: #ffffff;
}
.sarlavha {
  background-color: #61a8de;
}

.class {
  color: #a4acad;
  text-align: center;
}
.viktor {
  border-top: ;
}
.stark {
  margin-right: 300px;
}
.rasimlar {
  margin-left: 120px;
}
.comment {
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  text-align: left;
}
.pass {
  margin-left: 160px;
  border-radius: 50%;
}
.Tonistark {
  padding: 10px;
  width: px;
  margin-left: 30px;
}
body {
  background-color: white;
}
.px {
  /* margin-bottom: 10px; */
  height: 72px;
  /* margin-left: 100px; */
  height: 72px;
  /* margin-left: 11px; */
  background-color: #ffffff;
}
body {
  background-color: gray;
}
.lochin {
  background-color: #ffffff;
  margin-left: 50px;
}
.tor {
  margin-left: px;
}
.qasr {
  margin-left: 10px;
}
